@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];

    var isLogin = false;
    if (authCookie != null)
    {
        isLogin = true;
    }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="http://rdf.data-vocabulary.org/#">
<head>
    @* meta *@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
    <meta name="keywords" content="狗狗,貓咪,兔子,天竺鼠,寵物,動物,認養,送養,認養代替購買,認養寵物,認養動物,艾認養,愛認養,Love,Adopt,LoveAdopt" />
    <meta name="description" content="艾認養，一個以認養代替購買為理念的網站，希望可以減少流浪動物，給他們一個溫暖的家，讓他們成為你的家人吧，混血的動物們，健康又帥氣。" />
    <title>艾認養 - 認養代替購買，就從"艾認養"開始…</title>
    <link rel="icon" href="../../Content/Images/icon.ico">
    @* load css *@
    <link href="../../Content/mvcfileupload/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />
    <link href="../../Content/typeahead.js-bootstrap.css" rel="stylesheet" />
    <link href="../../Content/typeahead.js-bootstrap.fixed.css" rel="stylesheet" />
    <link href="../../Content/_site.css" rel="stylesheet" />
    @RenderSection("style", false)
    @* load js *@
    <script src="../../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../../Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="../../Scripts/jquery.validate.min.js"></script>
    <script src="../../Scripts/knockout-3.1.0.debug.js"></script>
    <script src="../../Scripts/mvcfileupload/vendor/bootstrap.min.js"></script>
    <script src="../../Scripts/typeahead.min.js"></script>
    <script src="../../Scripts/ckeditor/ckeditor.js"></script>
    <script src="../../Scripts/ctrls/pagination.js"></script>
    <script src="../../Scripts/locale/common.js"></script>
    <script src="../../Scripts/hogan-2.0.0.js"></script>
    <script src="//www.google.com/jsapi"></script>
    <script src="../../Scripts/_app.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    @* navbar *@
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-group-name" href="https://www.facebook.com/pages/%E8%89%BE%E8%AA%8D%E9%A4%8A-%E8%AA%8D%E9%A4%8A%E4%BB%A3%E6%9B%BF%E8%B3%BC%E8%B2%B7%E7%B5%90%E7%B4%AE%E5%8F%96%E4%BB%A3%E6%92%B2%E6%AE%BA/583979731732678" target="_blank"><img src="../../Content/Images/fb.jpg" alt="艾認養Facebook粉絲專頁" style="width: 23px; height: 23px;"></a>
                <a class="navbar-brand nav-group-name" href="/" rel="v:url" property="v:Title">艾認養</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown" typeof="v:Breadcrumb">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" property="v:Title">最新資訊 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li typeof="v:Breadcrumb"><a href="/News" title="最新消息" rel="v:url" property="v:Title">最新消息</a></li>
                            <li typeof="v:Breadcrumb"><a href="/Activity" title="最新活動" rel="v:url" property="v:Title">最新活動</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" typeof="v:Breadcrumb">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" property="v:Title">認養資訊 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li typeof="v:Breadcrumb"><a href="/Animal" title="待認養動物" rel="v:url" property="v:Title">待認養動物</a></li>
                            <li typeof="v:Breadcrumb"><a href="/Animal/New" title="送養動物" rel="v:url" property="v:Title">送養動物</a></li>
                            <li typeof="v:Breadcrumb"><a href="/Shelters" title="全台收容所資訊" rel="v:url" property="v:Title">收容所資訊</a></li>
                            <li typeof="v:Breadcrumb"><a href="/Help" title="需要你立即前往救援的動物們" rel="v:url" property="v:Title">即刻救援</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" typeof="v:Breadcrumb">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" property="v:Title">知識問答 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li typeof="v:Breadcrumb"><a href="/Ask" title="問與答" rel="v:url" property="v:Title">我有問題</a></li>
                            <li typeof="v:Breadcrumb"><a href="/Knowledge" title="相關知識" rel="v:url" property="v:Title">相關知識</a></li>
                        </ul>
                    </li>
                    <li typeof="v:Breadcrumb"><a href="/Blog" title="部落格文章" rel="v:url" property="v:Title">牠與他的故事</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (isLogin)
                    {
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">哈囉!! @User.Identity.Name 您好 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Account/ChangePassword" title="變更密碼">變更密碼</a></li>
                                <li><a href="/Account" title="會員中心">會員中心</a></li>
                                <li><a href="/Account/SignOut" title="登出" target="_self">登出</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="/Account/Register" title="註冊會員" rel="v:url" property="v:Title">註冊會員</a></li>
                        <li><a href="/Account/Login" title="登入" rel="v:url" property="v:Title">登入</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @* container *@
    <div id="mainContiner">
        @RenderBody()
    </div>
    <div>
    </div>
    <hr>
    <footer class="container">
        <p>
            <div class="navbar-left">&copy; LoveAdopt 2016 認養代替購買，就從"艾認養"開始…</div>
            <div class="navbar-right">
                <a href="mailto:r107620911@gmail.com">作者信箱</a>&nbsp
                <a href="https://github.com/chankeye/PetAdopt" target="_blank">GitHub</a>
            </div>
        </p>
    </footer>
</body>
</html>