<!-- Blog Comments -->
<!-- Comments Form -->

<div class="col-sm-offset-2 col-sm-10">
    <div class="well">
        <h4>留言：</h4>
        <form role="form" id="commentForm" class="form-horizontal" method="POST" name="form1">
            <div class="form-group">
                <textarea id="message" name="message" class="form-control required" rows="3" maxlength="100" required></textarea>
            </div>
            <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">留言</button>
        </form>
    </div>

    <hr>

    <!-- Posted Comments -->
    <!-- Comment -->
    <div class="media" data-bind="foreach: $root.history">
        <div class="media-body">
            <h4 class="media-heading">
                <label data-bind="text: Account"></label>
                <small><label data-bind="text: Date"></label></small>
            </h4>
            <label data-bind="text: Message"></label>
        </div>
        <br>
    </div>
    <!--pagination-->
    @Html.Partial("_Pagination")
    <!--pagination-->
</div>
@*<div class="page-header">
        <h2>留言</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>日期</th>
                <th>內容</th>
                <th>發佈者</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.history">
            <tr>
                <td hidden="true"><span data-bind="text: Id"></span></td>
                <td><span data-bind="text: Date"></span></td>
                <td><span data-bind="text: Message"></span></td>
                <td><span data-bind="text: Account"></span></td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
        </tfoot>
    </table>
    <!--pagination-->
    @Html.Partial("_Pagination")
    <!--pagination-->

    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <div class="container">
            <div class="form-group">
                <textarea id="message" name="message" class="form-control required" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">新增</button>
                    <button id="btnReset" type="reset" class="btn btn-default">清除</button>
                </div>
            </div>
        </div>
    </form>*@
