<div class="navbar-right">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group">
                <span class="glyphicon glyphicon-search input-group-addon"></span>
                <input id="search" class="form-control" name="search" type="search" placeholder="請輸入標題查詢" />
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input id="checkAll" name="checkAll" type="checkbox"> 完全比對
            </label>
        </div>
        <div class="form-group">
            <button id="btn3" type="button" class="btn btn-default" data-loading-text="查詢中...">查詢</button>
        </div>
    </form>
</div>
