@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../../../Scripts/manage/ctrls/UserEditCtrl.js"></script>
}
<div class="page-header">
    <h2>修改使用者資訊</h2>
</div>
<div>
    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <legend class="text-info">
            <i class="fa fa-check"></i>
            必填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">暱稱</label>
            <div class="col-sm-4">
                <input id="display" name="display" class="form-control required" maxlength="10" placeholder="請輸入暱稱" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="email" name="email" class="form-control required email" maxlength="50" placeholder="請輸入Email" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">管理者</label>
            <div class="col-md-4">
                <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    是否為管理者
                </label>
            </div>
        </div>
        <legend class="text-info">
            <i class="fa fa-check"></i>
            選填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">手機</label>
            <div class="col-sm-4">
                <input id="mobile" name="mobile" class="form-control" maxlength="10" placeholder="請輸入手機" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">修改</button>
                <button id="btn2" type="button" class="btn btn-default">取消</button>
            </div>
        </div>
    </form>
</div>
