@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AccountAnimalCtrl.js"></script>
}
<div class="container">
    @Html.Partial("_Search")
    <br />
    <div class="page-header">
        <h2 style="display:inline">發佈過的認養動物資訊</h2>
        <div class="navbar-right">
            <button id="btn2" type="button" class="btn btn-primary">返回</button>
        </div>
    </div>
    <div data-bind="foreach: history">
        <div class="row warp">
            <div class="navbar-right form-group">
                <a href='#' data-bind="click: $root.editAnimal" class="btn btn-primary">編輯</a>
                <a href='#' data-bind="click: $root.removeAnimal" class="btn btn-danger">移除</a>
            </div>
            <div class="col-md-5 list-img">
                <a href="#" data-bind="click: $root.detail">
                    <div data-bind="if:Photo">
                        <img alt="封面圖" class="img-responsive" data-bind="attr:{src: Photo}">
                    </div>
                    <div data-bind="ifnot:Photo">
                        <img alt="封面圖" class="img-responsive" src="../../Content/Images/default.jpg">
                    </div>
                    @*<img class="img-responsive" src="http://placehold.it/700x300" alt="">*@
                </a>
            </div>
            <div class="col-md-7 list-text">
                <h3><a href="#" data-bind="text: Title, click: $root.detail"></a></h3>
                <h4><label data-bind="text: Date"></label> - <label data-bind="text: Classes"></label> - <label data-bind="text: Status"></label> - <label data-bind="text: Area"></label></h4>
                <p><label data-bind="text: Introduction"></label></p>
                <a class="btn btn-primary" href="#" data-bind="click: $root.detail">詳細內容 <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
    </div>
    <div data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></div>
    <!--pagination-->
    @Html.Partial("_Pagination")
    <!--pagination-->
</div>