@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AccountBlogCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>發佈過的文章</h2>
    </div>
    <div>
        <div class="col-sm-5">
            <p>
                <input id="search" name="search" type="search" placeholder="請輸入文章標題" />
                <button id="btn3" type="button" data-loading-text="查詢中...">查詢</button>
            </p>
            <input id="checkAll" name="checkAll" type="checkbox" />
            <label for="checkAll">完全比對</label>
        </div>
        <div class="col-sm-offset-5 col-sm-2">
            <button id="btn2" type="button" class="btn btn-primary">返回</button>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>標題</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: history">
                    <tr>
                        <td hidden="true"><span data-bind="text: Id"></span></td>
                        <td><a href="#" data-bind="text: Title, click: $root.detail"></a></td>
                        <td><span data-bind="text: Date"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
                </tfoot>
            </table>
            <!--pagination-->
            @Html.Partial("_Pagination")
            <!--pagination-->
        </div>
    </div>
</div>