@{
    ViewBag.Title = "變更密碼";
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="../../Scripts/ctrls/AccountChangePasswordCtrl.js"></script>
}

<div class="container">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        請注意，密碼變更完成後，您將需要立即以新密碼重新登入
    </div>
    <form id="commentForm" class="form-horizontal" method="POST" action="javascript:alert('完成');" name="form1">
        <div class="form-group">
            <label class="col-sm-2 control-label">原密碼</label>
            <div class="col-sm-4">
                <input id="oldPwd" name="oldPwd" class="form-control required" minlength="6" type="password" placeholder="請輸入您的原始密碼" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">新密碼</label>
            <div class="col-sm-4">
                <input id="newPwd" name="newPwd" class="form-control required" minlength="6" type="password" placeholder="請輸入您欲變更的密碼" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">確認新密碼</label>
            <div class="col-sm-4">
                <input id="comPwd" name="comPwd" class="form-control required" minlength="6" type="password" placeholder="請再次輸入您的新密碼" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">變更</button>
                <button id="btn2" type="button" class="btn btn-default">取消</button>
            </div>
        </div>
    </form>
</div>