@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AccountActivityCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>會員中心</h2>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="/Account/Animal">動物</a></li>
        <li role="presentation"><a href="/Account/Shelters">收容所</a></li>
        <li role="presentation"><a href="/Account/Blog">文章</a></li>
        <li role="presentation"><a href="/Account/Activity">活動</a></li>
        <li role="presentation"><a href="/Account/News">消息</a></li>
        <li role="presentation"><a href="/Account/Help">救援</a></li>
        <li role="presentation"><a href="/Account/Ask">問與答</a></li>
        <li role="presentation"><a href="/Account/Knowledge">知識</a></li>
    </ul>
</div>