@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AccountActivityCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>會員中心</h2>
    </div>
    <div>
        <a href="/Account/Animal">動物</a>
        <a href="/Account/Shelters">收容所</a>
        <a href="/Account/Blog">文章</a>
        <a href="/Account/Activity">活動</a>
        <a href="/Account/News">消息</a>
        <a href="/Account/Help">救援</a>
        <a href="/Account/Ask">問與答</a>
        <a href="/Account/Knowledge">知識</a>
    </div>
</div>