@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AccountKnowledgeCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>發佈過的知識</h2>
    </div>
    <div class="navbar-right form-group">
        <button id="btn2" type="button" class="btn btn-primary">返回</button>
    </div>
    @Html.Partial("_Search")
    <br />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>標題</th>
                    <th>分類</th>
                    <th>日期</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: history">
                <tr>
                    <td><a href='#' data-bind="click: $root.removeKnowledge">移除</a></td>
                    <td><a href='#' data-bind="click: $root.editKnowledge">編輯</a></td>
                    <td hidden="true"><span data-bind="text: Id"></span></td>
                    <td><a href="#" data-bind="text: Title, click: $root.detail"></a></td>
                    <td><span data-bind="text: Classes"></span></td>
                    <td><span data-bind="text: Date"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
            </tfoot>
        </table>
        <!--pagination-->
        @Html.Partial("_Pagination")
        <!--pagination-->
    </div>
</div>