@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/RegisterCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>註冊會員</h2>
    </div>
    <div>
        <form id="commentForm" class="form-horizontal" method="POST" name="form1">
            <legend class="text-info">
                <i class="fa fa-check"></i>
                必填欄位
            </legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">帳號</label>
                <div class="col-sm-4">
                    <input id="account" name="account" class="form-control" placeholder="請輸入帳號" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密碼</label>
                <div class="col-sm-4">
                    <input id="password" name="password" type="password" class="form-control" placeholder="請輸入密碼" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">確認密碼</label>
                <div class="col-sm-4">
                    <input id="comPassword" name="comPassword" type="password" class="form-control" placeholder="請再輸入一次密碼" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">暱稱</label>
                <div class="col-sm-4">
                    <input id="display" name="display" class="form-control" placeholder="請輸入暱稱" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input id="email" name="email" class="form-control" placeholder="請輸入Email" required />
                </div>
            </div>
            <legend class="text-info">
                <i class="fa fa-check"></i>
                選填欄位
            </legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">手機</label>
                <div class="col-sm-4">
                    <input id="mobile" name="mobile" class="form-control" placeholder="例:0912345678" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">新增</button>
                    <button id="btn2" type="reset" class="btn btn-default">清除</button>
                </div>
            </div>
        </form>
    </div>
</div>