@using Newtonsoft.Json
@using PetAdopt.DTO
@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    var userData = FormsAuthentication.Decrypt(authCookie.Value).UserData;

    var loginInfo = JsonConvert.DeserializeObject<LoginInfo>(userData);
    if (loginInfo.IsAdmin == false)
    {
        Response.Redirect("/", true);
    }
}

<!DOCTYPE html>
<html>
<head>

    @* meta *@
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>艾認養 - 管理系統</title>

    @* load css *@
    <link href="../../../../Content/mvcfileupload/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../../Content/font-awesome.css" rel="stylesheet" />
    <link href="../../../../Content/typeahead.js-bootstrap.css" rel="stylesheet" />
    <link href="../../../../Content/typeahead.js-bootstrap.fixed.css" rel="stylesheet" />
    <link href="../../../../Content/_site.css" rel="stylesheet" />
    @RenderSection("style", false)

    @* load js *@
    <script src="../../../../Scripts/jquery-2.1.1.min.js"></script>
    <script src="../../../../Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="../../../../Scripts/jquery.validate.min.js"></script>
    <script src="../../../../Scripts/knockout-3.1.0.debug.js"></script>
    <script src="../../../../Scripts/mvcfileupload/vendor/bootstrap.min.js"></script>
    <script src="../../../../Scripts/typeahead.min.js"></script>
    <script src="../../../../Scripts/ckeditor/ckeditor.js"></script>
    <script src="../../../../Scripts/ctrls/pagination.js"></script>
    <script src="../../../../Scripts/locale/common.js"></script>
    <script src="../../../../Scripts/hogan-2.0.0.js"></script>
    <script src="//www.google.com/jsapi"></script>
    <script src="../../../../Scripts/_app.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    @* navbar *@
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-group-name" href="/Manage">資訊看板</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Manage/Shelters">收容所</a></li>
                    <li><a href="/Manage/Animal">動物資訊</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">文章管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Manage/Blog">Blog</a></li>
                            <li><a href="/Manage/Help">即刻救援</a></li>
                            <li><a href="/Manage/Ask">問與答</a></li>
                            <li><a href="/Manage/Knowledge">知識</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">網站管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Manage/News">最新消息</a></li>
                            <li><a href="/Manage/Activity">最新活動</a></li>
                            <li><a href="/Manage/System">系統參數</a></li>
                            <li><a href="/Manage/User">使用者</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">哈囉!! @User.Identity.Name 您好 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Manage/Account/ChangePassword">變更密碼</a></li>
                            <li><a href="/Manage/Account/SignOut" target="_self">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @* container *@
    <div class="container">
        <div>
            @RenderBody()
        </div>
        <div>
        </div>
        <hr>
        <footer>
            <p>&copy; LoveAdopt 2016</p>
        </footer>
    </div>
</body>
</html>