<div class="navbar-right">
    <p>
        <input id="search" name="search" type="search" placeholder="請輸入文章標題" />
        <button id="btn3" type="button" data-loading-text="查詢中...">查詢</button>
    </p>
    <input id="checkAll" name="checkAll" type="checkbox" />
    <label for="checkAll">完全比對</label>
</div>