@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/SheltersDetailCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>收容所資訊</h2>
    </div>
    @*<div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">封面圖</label>
                <div class="col-sm-4">
                    <img id="coverPhoto" name="coverPhoto" alt="封面圖" class="img-responsive img-thumbnail" src="../../Content/Images/default.jpg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名稱</label>
                <div class="col-sm-4">
                    <label id="name" name="name"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">介紹</label>
                <div class="col-sm-4">
                    <label id="introduction" name="introduction"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">電話</label>
                <div class="col-sm-4">
                    <label id="phone" name="phone"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">地區</label>
                <div class="col-sm-4">
                    <label id="selOptionsAreas" name="selOptionsAreas"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">地址</label>
                <div class="col-sm-4">
                    <label id="address" name="address"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">收容所網址</label>
                <div class="col-sm-4">
                    <label id="source" name="source"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="btn2" type="button" class="btn btn-primary">返回</button>
                </div>
            </div>
        </div>

        <hr />

        @Html.Partial("_Message")

    </div>*@
    <div class="col-sm-offset-2 col-sm-10 ">

        <!-- Blog Post -->
        <!-- Title -->
        <h1><label id="name" name="name"></label></h1>

        <!-- Author -->
        <p>
            作者 <a href="#"><label id="userDisplay" name="userDisplay"></label></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> 發佈時間 <label id="date" name="date"></label></p>

        <hr>

        <!-- Preview Image -->
        @*<img class="img-responsive" src="http://placehold.it/900x300" alt="">*@
        <img id="coverPhoto" name="coverPhoto" alt="封面圖" class="img-responsive img-thumbnail" src="../../Content/Images/default.jpg">
        <hr>

        <!-- Post Content -->
        <p class="lead">
            <label id="introduction" name="introduction"></label>
        </p>
        <p>
            地區：<label id="selOptionsAreas" name="selOptionsAreas"></label>
        </p>
        <p>
            地址：<label id="address" name="address"></label>
        </p>
        <p>
            電話：<label id="phone" name="phone"></label>
        </p>
        <p>
            收容所網站：<label id="source" name="source"></label>
        </p>

        <button id="btn2" type="button" class="btn btn-default">返回</button>

        <hr>

    </div>

    @Html.Partial("_Message")
</div>