@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/SheltersCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>收容所列表</h2>
    </div>
    @*<div>
        <a href="/Shelters/New" class="btn btn-primary">新增收容所</a>
        @Html.Partial("_Search")
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>名稱</th>
                    <th>地區</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: history">
                <tr>
                    <td hidden="true"><span data-bind="text: Id"></span></td>
                    <td>
                        <div data-bind="if:Photo">
                            <img alt="封面圖" class="list-img" data-bind="attr:{src: '../../Content/uploads/' + Photo}">
                        </div>
                        <div data-bind="ifnot:Photo">
                            <img alt="封面圖" class="list-img" src="../../Content/Images/default.jpg">
                        </div>
                    </td>
                    <td><a href="#" data-bind="text: Name, click: $root.detail"></a></td>
                    <td><span data-bind="text: Area"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
            </tfoot>
        </table>
        <!--pagination-->
        @Html.Partial("_Pagination")
        <!--pagination-->
    </div>*@
    <div data-bind="foreach: history">
        <div class="row warp">
            <div class="col-md-5 list-img">
                <a href="#" data-bind="click: $root.detail">
                    <div data-bind="if:Photo">
                        <img alt="封面圖" class="img-responsive" data-bind="attr:{src: '../../Content/uploads/' + Photo}">
                    </div>
                    <div data-bind="ifnot:Photo">
                        <img alt="封面圖" class="img-responsive" src="../../Content/Images/default.jpg">
                    </div>
                    @*<img class="img-responsive" src="http://placehold.it/700x300" alt="">*@
                </a>
            </div>
            <div class="col-md-7 list-text">
                <h3><a href="#" data-bind="text: Name, click: $root.detail"></a></h3>
                <h4><label data-bind="text: Area"></label></h4>
                <p><label class="list-msg" data-bind="html: Introduction"></label></p>
                <a class="btn btn-primary" href="#" data-bind="click: $root.detail">詳細內容 <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
    </div>
    <!--pagination-->
    @Html.Partial("_Pagination")
    <!--pagination-->
</div>