body, select, button, input, textarea,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Microsoft JhengHei','微軟正黑體';
}

body {
    background-color: #F2F2F2
}

/* ul.ul-padding-vertical-05 */
ul.ul-padding-vertical-05 {
    margin: 0.5em 0;
}

    ul.ul-padding-vertical-05 > li {
        padding: 0.5em 0;
    }

/* 手機 */
@media (max-width: 767px) {
    .mobile-hide {
        display: none;
    }

    blockquote.mobile-no-padding-left {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .mobile-show {
        display: none;
    }
}

/* 這樣的搭配，上下的padding太大了，設成沒有吧 */
.btn.btn-link {
    padding-top: 0;
    padding-bottom: 0;
}

/* 顯示現在時間的div */
#div-dateNow {
    float: right;
}

/* 分頁 */
.pagination {
    background: #808D96;
    padding: 10px 0 0;
    text-align: center;
    height: 28px;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

    .pagination ul {
        padding: 0;
        display: inline-block;
    }

    .pagination li {
        display: inline;
        padding: 10px;
        vertical-align: middle;
        height: 40px;
    }

    .pagination a {
        padding: 12px 10px;
        color: #fff;
    }

        .pagination a:hover {
            color: #d7172f;
        }

.prev {
    position: absolute;
    top: 10px;
    left: 10px;
}

.next {
    position: absolute;
    top: 10px;
    right: 10px;
}
/* /分頁 */

/* 列表 */
.warp {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #E6E6E6;
}

.list-img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

    .list-img img {
        display: block;
        width: 100%;
    }

.list-text {
    width: 590px;
    display: inline-block;
    vertical-align: top;
}

.list-msg {
    height: 80px;
    overflow: hidden;
}

@media only screen and (min-width:769px) and (max-width:990px) {
    .list-img {
        width: 30%;
    }

    .list-text {
        width: 70%;
    }
}

@media only screen and (min-width:451px) and (max-width:768px) {
    .list-img {
        width: 50%;
    }

    .list-text {
        width: 50%;
    }
}

@media only screen and (min-width:1px) and (max-width:450px) {
    .list-img {
        width: 100%;
        margin-bottom: 10px;
    }

    .list-text {
        width: 100%;
    }
}
/* 列表 */
