@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style
{
    <link href="../../Content/carousel.css" rel="stylesheet">
}
@section Scripts
{
    <script src="../../Scripts/ctrls/Carousel.js"></script>
}
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" data-bind="foreach: imgList">
            <div data-bind="attr:{class: Class}">
                <img data-bind="attr:{src: Photo, alt: Alt}" property="v:Title">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><label data-bind="text: Title" property="v:Date"></label></h1>
                        <p><label data-bind="text: Detail"></label></p>
                        <p><a class="btn btn-lg btn-primary" href="#" data-bind="click: $root.detail" role="button"><label data-bind="text: ButtonText"></label></a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="../../Content/Images/news.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2 property="v:Title">最新消息</h2>
            <p property="v:Information">全台各地動物認養的相關消息</p>
            <p><a class="btn btn-default" href="/News" role="button" rel="v:url">詳細資訊 »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../../Content/Images/activity.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2 property="v:Title">最新活動</h2>
            <p property="v:Information">全台各地舉行的動物認養活動資訊</p>
            <p><a class="btn btn-default" href="/Activity" role="button" rel="v:url">詳細資訊 »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../../Content/Images/adopt.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2 property="v:Title">請帶我回家</h2>
            <p property="v:Information">牠，需要一個家，正在等待著有緣的人</p>
            <p><a class="btn btn-default" href="/Animal" role="button" rel="v:url">帶牠回家 »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" property="v:Title">使用方法</h2>
            <p class="lead" property="v:Information">
                在"艾認養"，您可以查詢到全台的收容所資訊、等待認養的動物，全台灣的認養活動、消息…
                不只是一個可以找到資訊的平台，更希望大家可以多多分享資訊，幫助更多的流浪動物找到自己的家。
                舉凡動物相關的訊息、知識、文章，想認養動物，有動物等待認養，有動物等待求救，
                都歡迎利用"艾認養"，將您的資訊讓全台灣的人知道。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="../../Content/Images/using.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="../../Content/Images/about.jpg">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading" property="v:Title">關於艾認養</h2><h4><span class="text-muted">認養代替購買…從這裡開始…</span></h4>
            <p class="lead" property="v:Information">
                汪星人…憨厚忠心，是人類最好的朋友。喵星人…雖然高傲，卻傻得很可愛。兔星人…不擅長表達言語，但你對牠的好，牠都懂。
                在台灣有許多的流浪動物，牠們沒有品種，看起來好像髒髒的…但是牠們其實很可愛，一樣有著一顆善良的心，可愛的笑容，
                正在等待著一個能給牠幸福的人…而不是剩下12天的餘命…
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" property="v:Title">作者</h2><h4><span class="text-muted">Elliott Chen</span></h4>
            <p class="lead" property="v:Information">
                從小喜歡汪星人，但從來沒有養過狗狗，家裡有一隻高傲的高齡兔星人，現年7歲，總是以為世界以牠為中心、卻高傲的惹人愛。
                還有一隻認養了來的喵星人，十分平凡的米克斯，但卻十分黏人，你給牠滿滿的愛，牠也會用一生回報你。
                一直希望可以為流浪動物做點什麼，但是既沒有錢…也沒有人脈。不過還是想盡自己最大的能力，
                發揮自己的專長，不為別人，只希望因為"艾認養"這個網站，世界上可以多一、兩隻流浪動物獲得幸福，
                那"艾認養"的出現，就是有價值的。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="../../Content/Images/writer.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->