<!DOCTYPE html>
<html>
<head>

    @* meta *@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>管理系統</title>

    @* load css *@
    <link href="../../../../Content/mvcfileupload/vendor/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <link href="../../../../Content/Views/Manage/Account/Login.css" rel="stylesheet" />
    <div class="container">
        <form class="form-signin" method="post" action="@Request.Url.PathAndQuery">
            <h2 class="form-signin-heading">
                <span>管理系統</span>
                <small>登入</small>
            </h2>
            <input type="text" class="form-control" minlength="6" placeholder="請輸入帳號" autofocus name="account" required />
            <input type="password" class="form-control" minlength="6" placeholder="請輸入密碼" name="password" required />
            <button class="btn btn-lg btn-primary btn-block">登入</button>
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
        </form>
    </div>
</body>
</html>