@{
    ViewBag.Title = "即刻救援";
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/HelpCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div>
        <a href="/Help/New" class="btn btn-primary">新增待救援資訊</a>
        @Html.Partial("_Search")
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>標題</th>
                    <th>日期</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: history">
                <tr>
                    <td hidden="true"><span data-bind="text: Id"></span></td>
                    <td>
                        <div data-bind="if:Photo">
                            <img alt="封面圖" class="list-img" data-bind="attr:{src: '../../Content/uploads/' + Photo}">
                        </div>
                        <div data-bind="ifnot:Photo">
                            <img alt="封面圖" class="list-img" src="../../Content/Images/default.jpg">
                        </div>
                    </td>
                    <td><a href="#" data-bind="text: Title, click: $root.detail"></a></td>
                    <td><span data-bind="text: Date"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
            </tfoot>
        </table>
        <!--pagination-->
        @Html.Partial("_Pagination")
        <!--pagination-->
    </div>
</div>