@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/BlogEditCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>修改文章</h2>
    </div>
    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <legend class="text-info">
            <i class="fa fa-check"></i>
            必填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">標題</label>
            <div class="col-sm-4">
                <input id="title" name="title" class="form-control" placeholder="請輸入標題" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">內容</label>
            <div class="col-sm-4">
                <textarea id="content" name="content" rows="8" class="form-control ckeditor" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分類</label>
            <div class="col-sm-4">
                <select id="selOptionsClasses" name="selOptionsClasses" class="form-control"
                        data-bind="options: classes, optionsText: 'Word', optionsValue: 'Id'"></select>
            </div>
        </div>
        <legend class="text-info">
            <i class="fa fa-check"></i>
            選填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">動物編號</label>
            <div class="col-sm-4">
                <input id="animalId" name="animalId" class="form-control" placeholder="請輸入動物編號 或 輸入認養動物標題進行查詢" autofocus />
            </div>
            (如與本站送養動物有關，建議填入編號，進行連結)
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">修改</button>
                <button id="btn2" type="button" class="btn btn-default">取消</button>
            </div>
        </div>
    </form>
</div>