@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/BlogNewCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>發表故事</h2>
    </div>
    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <legend class="text-info">
            <i class="fa fa-check"></i>
            必填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">標題</label>
            <div class="col-sm-4">
                <input id="title" name="title" class="form-control" placeholder="請輸入標題" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-4">
                <a href="http://imgur.com/" target="_blank">圖片上傳空間</a><br />
                1.點選左上角的"upload images"。2.browse your computer。3.Start Upload。4.複製Direct Link即可將圖片放入文章中
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">內容</label>
            <div class="col-sm-4">
                <textarea id="content" name="content" rows="8" class="form-control ckeditor" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分類</label>
            <div class="col-sm-4">
                <select id="selOptionsClasses" name="selOptionsClasses" class="form-control"
                        data-bind="options: classes, optionsText: 'Word', optionsValue: 'Id'"></select>
            </div>
        </div>
        <legend class="text-info">
            <i class="fa fa-check"></i>
            選填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">認養動物</label>
            <div class="col-sm-4">
                <input id="animalTitle" name="animalTitle" class="form-control" placeholder="請輸入認養動物標題" />
            </div>
            (如與本站送養動物有關，建議填入)
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">新增</button>
                <button id="btn2" type="reset" class="btn btn-danger">清除</button>
                <a href="/Blog" class="btn btn-default">返回</a>
            </div>
        </div>
    </form>
</div>