@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AnimalDetailCtrl.js"></script>
}

<div class="container">

    <div class="col-sm-offset-2 col-sm-10 ">

        <!-- Blog Post -->
        <!-- Title -->
        <h1><label id="title" name="title"></label></h1>

        <!-- Author -->
        <p>
            作者 <a href="#"><label id="userDisplay" name="userDisplay"></label></a>
            / 分類 <a href="#"><label id="selOptionsClasses" name="selOptionsClasses"></label></a>
            / <label id="areaLab">地區</label> <a href="#"><label id="selOptionsAreas" name="selOptionsAreas"></label></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> 發佈時間 <label id="date" name="date"></label></p>

        <hr>

        <!-- Preview Image -->
        @*<img class="img-responsive" src="http://placehold.it/900x300" alt="">*@
        <img id="coverPhoto" name="coverPhoto" alt="封面圖" class="img-responsive img-thumbnail fullImage" src="../../Content/Images/default.jpg">
        <hr>

        <!-- Post Content -->
        <p class="lead">
            <label id="introduction" name="introduction" class="contentLabel"></label>
        </p>
        <p>
            送養日期：<label id="startDate" name="startDate"></label>
        </p>
        <p>
            安樂死日期：<label id="endDate" name="endDate"></label>
        </p>
        <p>
            年齡：<label id="age" name="age"></label>
        </p>
        <p>
            狀態：<label id="selOptionsStatuses" name="selOptionsStatuses"></label>
        </p>
        <p>
            <label id="sheltersLab">所在收容所：</label><a href="#" id="shelters" name="shelters"></a>
        </p>
        <p>
            <label id="addressLab">地址：</label><label id="address" name="address"></label>
        </p>
        <p>
            <label id="phoneLab">電話：</label><label id="phone" name="phone"></label>
        </p>

        <br>
        <button id="btn2" type="button" class="btn btn-default">返回</button>

        <hr>

    </div>

    @Html.Partial("_Message")
</div>