@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AskDetailCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h2>問與答詳細資訊</h2>
    </div>
    <div class="col-sm-offset-2 col-sm-10 ">

        <!-- Blog Post -->
        <!-- Title -->
        <h1><label id="title" name="title"></label></h1>

        <!-- Author -->
        <p>
            作者 <a href="#"><label id="userDisplay" name="userDisplay"></label></a>
            / 分類 <a href="#"><label id="selOptionsClasses" name="selOptionsClasses"></label></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> 發佈時間 <label id="date" name="date"></label></p>

        <hr>

        <!-- Post Content -->
        <p class="lead">
            <label id="content" name="content"></label>
        </p>
        
        <br>
        <button id="btn2" type="button" class="btn btn-default">返回</button>

        <hr>

    </div>

    @Html.Partial("_Message")
</div>