@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../Scripts/ctrls/AskCtrl.js"></script>
}
<div class="container">
    <div>
        <a href="/Ask/New" class="btn btn-primary">我要發問</a>
        @Html.Partial("_Search")
    </div>
    <div class="page-header">
        <h2>我有問題</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>標題</th>
                    <th>日期</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.history">
                <tr>
                    <td hidden="true"><span data-bind="text: Id"></span></td>
                    <td><a href="#" data-bind="text: Title, click: $root.detail"></a></td>
                    <td><span data-bind="text: Date"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
            </tfoot>
        </table>
        <!--pagination-->
        @Html.Partial("_Pagination")
        <!--pagination-->
    </div>
</div>