@{
    ViewBag.Title = "修改活動資訊";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

}
@section Scripts
{
    <script src="/Areas/Manage/Scripts/ctrls/ActivityEditCtrl.js"></script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div>
    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <legend class="text-info">
            <i class="fa fa-check"></i>
            必填欄位
        </legend>
        <div class="container">
            <div class="well">
                <legend>更新封面圖</legend>
                <p class="help-block">只限副檔名 jpg / png 最大5 MB, 只能上傳一張圖片</p>
                <a class="btn btn-large btn-primary" data-target="#dlgFileUpload" data-toggle="modal" href="/MvcFileUpload/UploadDialog?FileTypes=%2F%28%5C.%7C%5C%2F%29%28jpe%3Fg%7Cpng%29%24%2Fi&amp;MaxFileSizeInBytes=5000000&amp;MaxNumberOfFiles=1&amp;DisableImagePreview=False&amp;UploadUrl=%2FMvcUploaderTest%2FUploadFile&amp;UIStyle=Bootstrap&amp;ReturnUrl=%23&amp;RenderSharedScript=True&amp;ShowPopUpClose=True&amp;postValues%5b0%5d.Key=entityId&amp;postValues%5b0%5d.Value=1234" role="button">更新</a>
            </div>
            <!-- file upload modal dialog -->
            <div class="modal fade" id="dlgFileUpload" tabindex="-1" role="dialog" aria-hidden="true">
            </div><!-- /.modal -->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">標題</label>
            <div class="col-sm-4">
                <input id="title" name="title" class="form-control required" maxlength="50" placeholder="請輸入標題" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">內容</label>
            <div class="col-sm-4">
                <textarea id="content" name="content" class="form-control ckeditor"></textarea>
            </div>
        </div>
        <legend class="text-info">
            <i class="fa fa-check"></i>
            選填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">地區</label>
            <div class="col-sm-4">
                <select id="selOptions" class="form-control"
                        data-bind="options: areas, optionsText: 'Word', optionsValue: 'Id'"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-4">
                <input id="address" name="address" class="form-control" maxlength="30" placeholder="請輸入地址" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">修改</button>
                <button id="btn2" type="button" class="btn btn-default">取消</button>
            </div>
        </div>
    </form>
</div>
