@{
    ViewBag.Title = "最新活動";
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="../../../../Scripts/manage/ctrls/ActivityCtrl.js"></script>
}
<div class="page-header">
    <h2>新增活動</h2>
</div>
<div>
    <form id="commentForm" class="form-horizontal" method="POST" name="form1">
        <legend class="text-info">
            <i class="fa fa-check"></i>
            必填欄位
        </legend>
        <div class="container">
            <div class="well">
                <legend>上傳封面圖</legend>
                <p class="help-block">只限副檔名 jpg / png 最大5 MB, 只能上傳一張圖片</p>
                <a class="btn btn-large btn-primary" data-target="#dlgFileUpload" data-toggle="modal" href="/MvcFileUpload/UploadDialog?FileTypes=%2F%28%5C.%7C%5C%2F%29%28jpe%3Fg%7Cpng%29%24%2Fi&amp;MaxFileSizeInBytes=5000000&amp;MaxNumberOfFiles=1&amp;DisableImagePreview=False&amp;UploadUrl=%2FMvcUploaderTest%2FUploadFile&amp;UIStyle=Bootstrap&amp;ReturnUrl=%23&amp;RenderSharedScript=True&amp;ShowPopUpClose=True&amp;postValues%5b0%5d.Key=entityId&amp;postValues%5b0%5d.Value=1234" role="button">上傳</a>
            </div>
            <!-- file upload modal dialog -->
            <div class="modal fade" id="dlgFileUpload" tabindex="-1" role="dialog" aria-hidden="true">
            </div><!-- /.modal -->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">標題</label>
            <div class="col-sm-4">
                <input id="title" name="title" class="form-control required" maxlength="50" placeholder="請輸入標題" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">內容</label>
            <div class="col-sm-4">
                <textarea id="content" name="content" class="form-control ckeditor"></textarea>
            </div>
        </div>
        <legend class="text-info">
            <i class="fa fa-check"></i>
            選填欄位
        </legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">地區</label>
            <div class="col-sm-4">
                <select id="selOptions" class="form-control"
                        data-bind="options: areas, optionsText: 'Word', optionsValue: 'Id'"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-4">
                <input id="address" name="address" class="form-control" maxlength="30" placeholder="請輸入地址" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btn1" type="button" class="btn btn-primary" data-loading-text="處理中...">新增</button>
                <button id="btn2" type="reset" class="btn btn-default">清除</button>
            </div>
        </div>
    </form>

    <hr />

    <div class="page-header">
        <h2>活動列表</h2>
    </div>
    <div>
        <input id="search" name="search" type="search" placeholder="請輸入文章標題" />
        <button id="btn3" type="button" data-loading-text="查詢中...">查詢</button>
        <br />
        <input id="checkAll" name="checkAll" type="checkbox" />
        <label for="checkAll">完全比對</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>序號</th>
                <th>標題</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: history">
            <tr>
                <td><a href='#' data-bind="click: $root.removeActivity">移除</a></td>
                <td><a href='#' data-bind="click: $root.editActivity">編輯</a></td>
                <td><span data-bind="text: Id"></span></td>
                <td><span data-bind="text: Title"></span></td>
                <td><span data-bind="text: Date"></span></td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td data-bind="visible: responseMessage().trim() !== '', text: responseMessage"></td></tr>
        </tfoot>
    </table>
    <!--pagination-->
    @Html.Partial("_Pagination")
    <!--pagination-->
</div>
